div.navbar-wrapper nav ul {
    list-style-type: none;
    margin: 0;
    padding:0;
    background-color: #dddddd;
}

div.navbar-wrapper nav ul li{
    float:left;
}

div.navbar-wrapper nav ul li a {
    display:block;
}
div.navbar-wrapper{
    width:100vw;
}

